body {
    width: 100%;
    margin: auto;
    background-image: url(background.webp);
    background-position: 0%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;

  }

  .random{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
  }
  
  .header {
    padding: 100px 50px 50px 40px;
    position:absolute;
    top: 50px;
  }
  
  h1 {
    font-weight: bold;
    font-style: normal;
    font-family: "Times New Roman";
    font-size: 72px;
    color: rgb(232, 249, 233);
    text-align: center;
  }
  
  .container-padding50 {
    padding: 80px 0px 0px 30px;
  }
  
  .container-textinput {
    width: 70%;
    padding: 16px;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
  }
  
  .container-button {
    width: 30%;
    padding: 16px;
    background-color: rgb(18, 118, 25);
    color: white;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    border: 1px solid rgb(214, 223, 214);
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    
  }
  
 .container-image {
    width: 30%;
    display: block;
    float: left;
    margin-right: 3%;
  }

  .navbar a {
    color: white;
    font-size: 18px;
    text-align: right;
  }

  .navbar-nav:active{
    display:flex;
  }
  
.inputfiled {
  padding: 20px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}